.hero.travelPackages {
  height: 460px;
  width: 100%;
  background-image: url(../img/travel-packages/hero-bg-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentHero {
  width: 312px;
  color: var(--text-second-color);
  text-align: left;
  padding: 65px 24px;
}

.contentHero p {
    font-size: 20px;
    font-weight: var(--text-weight);
}

.section-title.travelPackages {
  margin: 0;
}

.section-title.travelPackages h1 {
  font-size: 48px;
}


.destinations.travelPackages {
  margin-top: 88px;
}

.text-payments {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.text-payments h3 {
  font-size: 40px;
  font-weight: var(--title-weight);
}

.text-payments h4 {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.text-payments p {
  font-size: 20px;
  font-weight: var(--text-weight);
  line-height: 32px;
}